*, *::before, *::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
html {
    line-height: 1.15;
}
body {
    min-height: 100vh;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}
ul, ol {
    list-style: none;
}
button, input, select, textarea {
    font: inherit;
}