@media screen and (min-width: 1024px) {

    /* Layout & Navigation */
    .footer-container, 
    .main-nav {
        max-width: 1400px;
        margin: 0 auto;
    }

    .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background 0.3s ease;
    }

    /* Footer Interactions */
    .footer-nav a:hover, 
    .social-links a:hover {
        color: var(--white);
        padding-left: 5px;
    }

    /* --- agents.html --- */
    .agent-catalog__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .agent-catalog__main-title {
        font-size: 2.5rem;
    }

    /* --- Sign Up --- */
    .signup-nert {
        padding-top: 6rem;
    }

    .signup-nert__form-container {
        box-shadow: 20px 20px 0px var(--secondary-red);
    }
}